* {
  font-family: sans-serif;
}
body {
  border: 5px solid black;
}
#main {
  background-color: rgb(195, 195, 195);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 26px;
}
#price {
  border: 20px 0px;
}
#details {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5;
  font-size: 14px;
}
a:hover {
  text-decoration: none;
}
li {
  list-style-type: square;
}
button {
  background-color: black;
  color: white;
  text-transform: uppercase;
}
button:hover {
  background-color: transparent;
  color: black;
}
